.gitattributes export-ignore
.gitmodules export-ignore
.gitignore export-ignore
composer.json export-ignore
example_debug.png export-ignore
phpunit.xml export-ignore
build/ export-ignore
docs/ export-ignore
scripts/ export-ignore
tests/ export-ignore
.github/ export-ignore
