language: php
dist: trusty
sudo: required
php:
  - 7.0
  - 7.1
  - 7.2

script:
  - build/travis

env:
  global:
    secure: "Wlez8f9yijTGs4heE9YrBWsEssDKwSqKld5pTcgYNwoSOAue8MmG/g/60ayyWXRBXiGmNQfiHsBSGw9v9Stn7vKKXzGROc2T34ERLkBi2AtifFw6vJK0VrK2EpcWTvgHPLeNlln+gIrA/oHliW4AKX9aUwIBV/MTPjd2A85RBn8="
